<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Yummy Seçilmeli?</h3>
                    <p>
                        Yummy, taptaze malzemelerle hazırlanan eşsiz tarifleriyle lezzeti ve kaliteyi bir araya getirir. Her lokmada özenle hazırlanan yemeklerimiz, damak tadınıza hitap eder. Deneyimli şeflerimizle, sofralarınıza mutluluk getiriyoruz.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Sıcak servis, samimi ortam</h4>
                            <p>Konforlu ortamımızda yemeklerinizi keyifle yiyin, kendinizi evinizde hissedin.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Uygun fiyat, yüksek kalite</h4>
                            <p>Yummy, her bütçeye uygun fiyatlarla lezzetli yemekleri sizlere sunar.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4> Lezzetin kalbinde buluşuyoruz</h4>
                            <p>Tüm yemeklerimiz usta şeflerin elinden doğal ve katkısız ürünlerle hazırlanır.</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section>
