@model List<ApiProjeKampi.WebUI.Dtos.ServiceDtos.ResultServiceDto>

<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Yummy Seçilmeli?</h3>
                    <p>
                        Yummy, taptaze malzemelerle hazırlanan eşsiz tarifleriyle lezzeti ve kaliteyi bir araya getirir. Her lokmada özenle hazırlanan yemeklerimiz, damak tadınıza hitap eder. Deneyimli şeflerimizle, sofralarınıza mutluluk getiriyoruz.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    @* KORUMA DUVARI: Model null (boş) değilse ve içinde veri varsa döngüyü çalıştır *@
                    @if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <div class="col-xl-4">
                                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                    <i class="@item.IconUrl"></i>
                                    <h4>@item.Title</h4>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @* API kapalıysa veya veritabanı boşsa tasarım kaymasın diye burası devreye girecek *@
                        <div class="col-12 text-center d-flex align-items-center justify-content-center">
                            <div class="alert alert-warning w-100" role="alert">
                                Hizmet verileri şu anda yüklenemedi. Lütfen API projesinin çalıştığından ve port numarasının doğru olduğundan emin olun.
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>

    </div>

</section>